
.inbox .top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-right-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.to-status {
    color: #666666;
    font-size: 14px;
}
.time {
    color: #ccc;
    font-size: 14px;
}
.border-bottom {
    border-bottom: solid 1px #ccc;
}
.table th {
    font-size: 13px;
}

.table th:last-child {
    text-align: center;
}

.boldClass {
    font-weight: bold !important;
}

.status-p {
    color: #6B8E23;
    font-weight: bold;
    text-transform: uppercase;
}

.status-mails {
    display: none;
}

.mail-status-p:hover .status-mails {
    display: block;
}


.tooltip {
/* border-bottom: 1px dotted #000000; */
color: #000000;
outline: none;
cursor: help;
text-decoration: none;
position: relative;
opacity: 1;
}
.tooltip span {
margin-left: -999em;
position: absolute;
}
.tooltip:hover span {
border-radius: 5px 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
font-family: Calibri, Tahoma, Geneva, sans-serif;
position: absolute;
left: 0px;
top: 2em;
z-index: 99;
margin-left: 0;
width: 250px;
color: #79cbc1;
background-color: #fff;
border-radius: 0px !important;
font-size: 16px;
}
.tooltip:hover img {
border: 0;
margin: -10px 0 0 -55px;
float: left;
position: absolute;
}
.tooltip:hover em {
font-family: Candara, Tahoma, Geneva, sans-serif;
font-size: 1.2em;
font-weight: bold;
display: block;
padding: 0.2em 0 0.6em 0;
}
.classic {
padding: 0.8em 1em;
}
.custom {
padding: 0.5em 0.8em 0.8em 2em;
}
.help {
background:#bcb9b9ed;
border: 1px solid #bcb9b9ed;
}
.tooltip p {
    text-decoration: none;
}

.custom {
padding: 15px;
}

.custom p {
    margin-bottom: 5px;
}

.delete {
    margin-left: 16px;
    background: #df5151;
    border: 1px solid #df5151;
    padding: 5px 10px;
    border-radius: 5px;
}

.delete:hover {
    background: none;
}

.delete:focus {
    box-shadow: none;
    border: none;
}

.delete:hover span i {
    color: #df5151;
}

.delete i {
    color: #fff;
    font-size: 18px;
}