.con {
    background: #eee;
}

.pdf-none {
    padding: 30px 0px;
}

.pdf-none p {
    margin: 0px 0px 10px 0px;
}

#sortable {
    padding: 20px 0px;
    /* margin: 0px 70px; */
}

.tab-sign {
    overflow: hidden;
}

.recipi {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin: 15px 0px;
}

.final-sidebar {
    border: 3px solid #000;
    border-radius: 5px;
    margin: 25px 0px 0px 0px;
    padding: 10px;
    border-bottom: 5px solid #000;
}

.final-sidebar p {
    /* font-weight: bold; */
    margin-bottom: 5px;
    font-size: 16px;
    
    /* text-align: center; */
}

.doc-side-card {
    padding: 10px;
    margin: 15px 0px;
    box-shadow: 6px 8px 6px -5px #777;
    /* border: 3px solid #ccc; */
}

.side-status {
    display: flex;
    align-items: center;
}

.side-status p {
    padding: 7px 15px;
    border-radius: 5px;
    /* margin-bottom: 10px; */
    /* background: #ccc; */
}

.doc-sidee {
    display: flex;
    justify-content: space-between;
    /* border-bottom: 3px solid #000; */
}

.final-name {
    font-size: 25px; 
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 5px;
}

.final-mail {
    font-size: 15px;
}

.email p {
    margin-bottom: 0px;
    font-weight: bold;
}

#sortable {
    padding: 0px !important;
}

.pdfViewer .page canvas {
    width: 100% !important;
    height: 100% !important;
}

.pdf-sign1 {
    height: auto;
    width: 25%;
    position: relative;
}

.select-doc {
    font-size: 23px;
    font-weight: 400;
    color: #000;
}

.doc-sign-btn {
    margin: 0px 0px 20px 0px;
  }
  
  .doc-sign-btn button{
    background: #87ceeb;
    border: 1px solid #87ceeb;
    padding: 5px;
    font-size: 13px;
    padding: 16px 25px;
    margin: 20px 0px 10px 0px;
  }
  
  .doc-sign-btn button:hover {
    background: #fff;
    cursor: pointer;
    color: #87ceeb;
  }
  .modal-close {
    margin: 0 !important;
    background: no-repeat !important;
    border: none !important;
    padding: 0 !important;
  }
  
  .modal-close:focus {
    border: none;
  }
  
  .modal-close span {
    font-size: 25px !important;
  }
  
  
  /* .select-dropdown,
  .select-dropdown * {
      margin: 0;
      padding: 0;
      position: relative;
      box-sizing: border-box;
  }
  .select-dropdown {
      position: relative;
      background-color: #e6e6e6;
      border-radius: 4px;
  }
  .select-dropdown select {
      font-size: 1rem;
    font-weight: normal;
    width: 100%;
      max-width: 100%;
      padding: 8px 24px 8px 10px;
      border: none;
      background-color: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
  }
  .select-dropdown select:active,
  .select-dropdown select:focus {
      outline: none;
      box-shadow: none;
  }
  .select-dropdown:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 8px;
      width: 0;
      height: 0;
      margin-top: -2px;
      border-top: 5px solid #aaa;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
  } */
  
  .modal-select {
    margin: 15px 10px;
  }
  
  .modal-checkbox {
    margin: 15px 15px;
  }
  
  .modal-checkbox label {
    font-size: 17px;
    font-weight: bold;
    color:  #87ceeb;
  }
  
  .modals-checks {
    margin: 15px 15px;
  }
  
  .modal-new-dialog {
    max-width: 550px !important;
  }

  .doc-btn-main1:active {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
  }