
.nav-item{
    list-style: none;
}

.navbar {
    background-color: #f6f6f6!important;
}


.profile .dropdown-menu {
    left: -50px !important;
}

.logo img {
    height: 110px;
    /* width: 250px; */
}

.logo {
    display: flex;
    align-items: center;
}