<!-- <p>login works!</p> -->

<div class="login">
    <div class="container">
        <div class=" login-card">
            <div class="">
                <!-- <h1 class="text-center logo"><span><img src="assets/images/logo.png"></span></h1> -->
                <div>
                    <form [formGroup]="changePasswordForm">
                        <!-- <div class="col-md-12"> -->
                        <!-- <div class="row"> -->
                        <!-- <div class="form-group">
                            <label for="">Email</label>
                            <input type="text" disabled formControlName="email" class="form-control">
                        </div> -->
                        <div class="form-group">
                            <label for="">New Password</label>
                            <input type="text" formControlName="newPassword" class="form-control" placeholder="Enter New Password">
                        </div>
                        <div class="form-group">
                            <label for="">Repeat password</label>
                            <input type="password" formControlName="repeatpassword" class="form-control" placeholder="enter repeat password">
                            <span class="text-danger"
                            *ngIf="f.repeatpassword.touched && f.repeatpassword.errors?.passwordMismatch">
                            Passwords doesnot match
                        </span>
                        </div>
                        
                        <div class="form-group">
                            <button class="btn btn-block btn-primary" [disabled]="!changePasswordForm.valid" (click) = "changePassword()">Submit</button>
                        </div>
                        
                        <!-- </div> -->
                        <!-- </div> -->
                    </form>
                </div>
            </div>

         
        </div>
    </div>
</div>


