.pdf-none {
    padding: 30px 0px;
}

.pdf-none p {
    margin: 0px 0px 10px 0px;
}

#sortable {
    padding: 20px 0px;
    /* margin: 0px 70px; */
}

.tab-sign {
    overflow: hidden;
}

/* .ui-draggable img {
    height: 100px;
    width: 150px !important;
} */

.iremove {
    height: 100px !important;
    width: 400px !important;
}

.update {
    text-align: center;
    margin: 40px 0px;
}