<div class="container-fluid con">
  <div class="row res-row">
    <div class="col-md-3 col-md-offset-3">
      <!-- <button class="btn btn-primary" (click)="generatePdf()">Genarate Pdf</button> -->
      <form [formGroup]="rejectFormGroup" class="res-formm">
        <div class="signature-acceptance" *ngIf="isShowflag && docRejected === false && isVerified === false">


          <h3 class="select-doc">Please select Document :</h3>
          <div class="doc-sign-btn">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4" *ngFor="let doc of documents ; let i = index">
                  <button class="btn btn-primary doc-btn-main1 final_{{i}}" (click)="DocView(doc , i)">
                    Doc {{i + 1}}
                  </button>
                </div>
              </div>
            </div>
          </div>


          <!-- <div class="comment-box" *ngFor = "let doc of documents ; let i = index">
            <button class="btn btn-primary" (click)="DocView(doc , i)">
             Doc {{i + 1}}
            </button>
          </div> -->
          <div class="d-flex" *ngIf="isVerified === false && isVoid != true">
            <div class="reject-btn">
              <button class="btn btn-danger" (click)="onRejectInvitation()">
                Reject
              </button>
            </div>
            <div class="update">
              <button class="btn btn-primary" (click)="updateSignature()">
                Submit
              </button>
            </div>
          </div>
        </div>



        <div class="doc-sign-btn">
          <div class="col-md-12">
            <div class="row" *ngIf="isVerified === true">
              <h3 class="select-doc">Please select Document :</h3>
              <div class="col-md-4" *ngFor="let doc of documents ; let i = index">
                <button class="btn btn-primary doc-btn-main1 final_{{i}}" (click)="DocView(doc , i)"> Doc {{i + 1}}
                </button>
              </div>
              <h5 class="text-danger" *ngIf="isVoid != true">Document has already Signed</h5>
              <div>

                <!-- <button class="btn btn-primary" (click)=downloadPdf()>
                    Download
                  </button> -->

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" (click)="downloadPdf()"
                  *ngIf="pdfDouments.length == 1 && isVoid != true">
                  Download
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                  (click)="Documents()" *ngIf="pdfDouments.length > 1 && isVoid != true">
                  Download
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-new-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Download Documents</h5>
                        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="col-md-12">

                          <!-- <div class="modal-select">
                              <div class="select-dropdown">
                                <select>
                                  <option value="Option 1">First Option</option>
                                  <option value="Option 2">2nd Option</option>
                                  <option value="Option 3">Option Number 3</option>
                                </select>
                              </div>
                            </div> -->

                          <div class="modal-checkbox">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck2"
                                (click)="DownloadDocs('1' , '2' , '3')">
                              <label class="custom-control-label" for="customCheck2">Download all</label>
                            </div>
                          </div>

                          <div class="modals-checks">
                            <div class="col-md-12 p-0">
                              <div class="row">
                                <div class="col-md-4" *ngFor="let docs of documents ; let h = index">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="{{h}}"
                                      (click)="DownloadDocs('2' , docs.id , $event)">
                                    <label class="custom-control-label" for="{{h}}">Doc {{h + 1}}</label>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>

                          <div class="col-md-12" style="text-align: center;">
                            <button class="submit" (click)="downloadPdf()">
                              Download
                            </button>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="doc-sign-btn">
          <div class="col-md-12">
            <div class="row" *ngIf="docRejected === true">
              <h3 class="select-doc">Please select Document :</h3>
              <div class="col-md-4" *ngFor="let doc of documents ; let i = index">
                <button class="btn btn-primary doc-btn-main1 final_{{i}}" (click)="DocView(doc , i)">
                  Doc {{i + 1}}
                </button>
              </div>
              <h5 class="text-danger" *ngIf="isVoid != true">Document Rejected by You</h5>
              <div>
              </div>
            </div>
          </div>
        </div>




        <!-- <div *ngIf="docRejected === true" class="rejected-text">
          <div class="comment-box" *ngFor = "let doc of documents ; let i = index">
            <button class="btn btn-primary" (click)="DocView(doc , i)">
             Doc {{i + 1}}
            </button>
          </div>
          <h5 class="text-danger">Document Rejected by You</h5>
        </div> -->
        <!-- <div *ngIf="isVerified === true" class="rejected-text">
          <div class="comment-box" *ngFor = "let doc of documents ; let i = index">
            <button class="btn btn-primary" (click)="DocView(doc , i)">
             Doc {{i + 1}}
            </button>
          </div>
          <h5 class="text-danger">Document has already Signed</h5>
          <button class="btn btn-primary" (click)=downloadPdf()>
            Download
          </button>
        </div> -->
      </form>
    </div>
    <div class="col-md-8 image-view" #content id="content">
      <!-- <div class="pdf-none">
                <p>&nbsp;</p>
            </div> -->
      <div *ngFor="let douc of documents;  let m = index">
        <div class="pdfViewerSection_{{m}}" id="sortable" style="display: none;">
          <div *ngIf="isVoid != true">
            <div *ngFor="let list of userData; let i = index">

              <div *ngIf=!list.isReject>
                <div *ngFor="let pos of list.document[m]?.signature; let idx = index">
                  <span *ngIf="list.VerifyFlag; then condition1; else condition2"></span>
                  <ng-template #condition1>
                    <div class="drag-cls ui-draggable ui-draggable-handle drag" style="
                      display: inline;
                      z-index: 1;
                      background: transparent;
                      padding: 0px;
                      border-radius: 5px;
                      color: rgb(255, 255, 255);
                      position: relative;
                    " [style.left.px]="pos.left" [style.top.px]="pos.top">
                      <img class="pdf-sign1" src="{{  list.signatureImage }}" />
                    </div>
                  </ng-template>
                  <ng-template #condition2>
                    <div (click)="getDefaultSignature(1, m, idx)"
                      class="drag-cls ui-draggable ui-draggable-handle drag_{{m}}_{{idx}}" id="signature_{{idx}}"  style="
                      display: inline;
                      z-index: 1;
                      background: rgba(204, 204, 204, 0.73);
                      padding: 10px 10px;
                      border-radius: 5px;
                      color: rgb(255, 255, 255);
                      cursor: move;
                      position: relative;
                    " [style.left.px]="pos.left" [style.top.px]="pos.top"  >
                      <!-- <div id="replace_{{i}}_{{idx}}"></div> -->
                      <p class="ui-state-highlight remove_{{m}}_{{idx}}"
                        style="display: inline; color: #135699; font-weight: bold">
                        <img style="height: 20px" src="assets/images/sign.png" />{{
                        list.Name
                      }}
                      </p>
                    </div>
                  </ng-template>
                  
                </div>
                <div *ngFor="let ini of list.document[m]?.initial; let j = index">
                  <span *ngIf="list.VerifyFlag; then con1; else con2"></span>
                  <ng-template #con1>
                    <div class="drag-cls ui-draggable ui-draggable-handle idrag"  id="initial_{{j}}" style="
                      display: inline;
                      z-index: 1;
                      background: transparent;
                      padding: 0px;
                      border-radius: 5px;
                      color: rgb(255, 255, 255);
                      position: relative;
                    " [style.left.px]="ini.left" [style.top.px]="ini.top">
                      <img class="pdf-sign2" src="{{ list.initialImage }}" />
                    </div>
                  </ng-template>
                  <ng-template #con2>
                    <div (click)="getDefaultSignature(2, m, j)"
                      class="drag-cls ui-draggable ui-draggable-handle idrag_{{m}}_{{j}}" style="
                      display: inline;
                      z-index: 1;
                      background: rgba(204, 204, 204, 0.73);
                      padding: 10px 10px;
                      border-radius: 5px;
                      color: rgb(255, 255, 255);
                      cursor: move;
                      position: relative;
                    " [style.left.px]="ini.left" [style.top.px]="ini.top">
                      <!-- <div id="ireplace_{{i}}_{{j}}"></div> -->
                      <p class="ui-state-highlight iremove_{{m}}_{{j}}"
                        style="display: inline; color: #135699; font-weight: bold">
                        <img style="height: 20px" src="assets/images/digital.png" />{{
                        list.Name
                      }}
                      </p>
                    </div>
                  </ng-template>
                </div>

                <div *ngFor="let comm of list.document[m]?.commentsCoordinates; let k = index">
                  <span *ngIf="list.VerifyFlag; then con1; else con2"></span>
                  <ng-template #con1>
                    <div class="drag-cls ui-draggable ui-draggable-handle icomm" style="
                      display: inline;
                      z-index: 1;
                      background: transparent;
                      padding: 0px;
                      border-radius: 5px;
                      color:black;
                      position: relative;
                    " [style.left.px]="comm.left" [style.top.px]="comm.top">
                      {{ list?.comments[m] }}
                      <!-- <img
                      style="height: 70px; width: 300px"
                      src="{{ imageBaseUrl + list.initialImage }}"
                    /> -->
                    </div>
                  </ng-template>
                  <ng-template #con2>
                    <div (click)="draggable_comment(m, k)"
                      class="drag-cls ui-draggable ui-draggable-handle icomm_{{m}}_{{k}}" style="
                      display: inline;
                      z-index: 1;
                      background: rgba(204, 204, 204, 0.73);
                      padding: 10px 10px;
                      border-radius: 5px;
                      color: rgb(255, 255, 255);
                      cursor: move;
                      position: relative;
                    " [style.left.px]="comm.left" [style.top.px]="comm.top">
                      <!-- <div id="ireplace_{{i}}_{{j}}"></div> -->
                      <p class="ui-state-highlight icommrmv_{{m}}_{{k}}"
                        style="display: inline; color: #135699; font-weight: bold">
                        <i style="color: #000;" class="fa fa-commenting" aria-hidden="true"></i>{{
                        list.Name
                      }}
                      </p>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
            <div *ngFor="let receipt of otherReceipts">
              <div *ngFor="let data of receipt.document[m]?.signature">
                <div class="drag-cls ui-draggable ui-draggable-handle" style="
                  display: inline;
                  z-index: 1;
                  border-radius: 5px;
                  color: rgb(255, 255, 255);
                  position: relative;
                " [style.left.px]="data.left" [style.top.px]="data.top">
                  <img class="pdf-sign1" [src]="receipt.signatureImage" />
                </div>
              </div>
              <div *ngFor="let data of receipt.document[m]?.initial">
                <div class="drag-cls ui-draggable ui-draggable-handle" style="
                  display: inline;
                  z-index: 1;
                  border-radius: 5px;
                  color: rgb(255, 255, 255);
                  position: relative;
                " [style.left.px]="data.left" [style.top.px]="data.top">
                  <img class="pdf-sign3" [src]="receipt.initialImage" />
                </div>
              </div>

              <div *ngFor="let comm1 of receipt.document[m]?.commentsCoordinates">
                <div class="drag-cls ui-draggable ui-draggable-handle" style="
                  display: inline;
                  z-index: 1;
                  border-radius: 5px;
                  color: #000;
                  position: relative;
                " [style.left.px]="comm1.left" [style.top.px]="comm1.top">
                  <!-- <img
                  style="height: 70px; width: 300px"
                  [src]="imageBaseUrl + receipt.initialImage"
                /> -->
                  {{receipt?.comments[m]}}
                </div>
              </div>
            </div>
          </div>
          <div class="void-icon" *ngIf = "isVoid == true">
            <img class="pdf-sign15" src="../../assets/images/voidIcon.png">
          </div>
          <pdf-viewer [src]="imageBaseUrl + douc.Doc" [render-text]="true" [render-text]="true" [show-all]="true"
            [fit-to-page]="true" style="display: block">
          </pdf-viewer>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #mymodal let-modal>
  <!-- <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div> -->
  <div class="modal-body">
    <ngb-tabset [destroyOnHide]="false">
      <ngb-tab title="Draw">
        <ng-template ngbTabContent>
          <div class="col-md-12">
            <div class="tab-sign">
              <ng-signature-pad class="sign-test" doneButtonText="Create a Signature" format="blob"
                (done)="saveImage($event)">
              </ng-signature-pad>
            </div>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="Use">
        <ng-template ngbTabContent>
          <div class="upload-sig use-sig">
            <div class="text-center">
              <div *ngIf="!showimage">
                <p>No default Signature Found</p>
              </div>
              <div *ngIf="showimage">
                <img [src]="imageBaseUrl + dafaultSignObj?.Sign" />
              </div>
            </div>
          </div>
          <button *ngIf="showimage" type="button" class="btn btn-primary"
            (click)="useSignature(dafaultSignObj?.Sign, dafaultSignObj?.Type)">
            Use Signature
          </button>
        </ng-template>
      </ngb-tab>

      <!-- <ngb-tab title="Type">
                <ng-template ngbTabContent>
                    <div class="sing-type">
                        <input type="text" name="signaturetype" id="signaturetype">
                    </div>
                    <button type="button" class="btn btn-outline-dark"
                        (click)="modal.close('Save click')">Cancle</button>
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Create Signature')">Create
                        Signature</button>
                </ng-template>
            </ngb-tab> -->
      <ngb-tab title="Upload">
        <ng-template ngbTabContent>
          <div class="upload-sig">
            <div class="text-center">
              <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
                <img [src]="imageURL" alt="upimages" width="200px" />
              </div>
              <button class="btn btn-primary btn-block" type="button" (click)="fileInput.click()">
                <span>UPLOAD</span>
                <input #fileInput type="file" (change)="onFileSelected($event)" id="file" style="display: none"
                  accept="image/*" />
              </button>
            </div>
          </div>
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">
            Cancle
          </button>
          <button type="button" class="btn btn-outline-dark" (click)="uploadSignature()"
            *ngIf="imageURL && imageURL !== ''">
            Create Signature
          </button>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</ng-template>

<ng-template #mymodal1 let-modal>
  <div class="modal-body">
    <div class="comment-modal">
      <h3 class="add-comment">Add a comment </h3>
      <textarea rows="8" class="enter message" #commentval></textarea>
      <div class="submit-btn">
        <button class="btn btn-primary" (click)=clickOnComment(commentval.value)>Submit</button>
      </div>
    </div>
  </div>
</ng-template>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancle</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Create Signature')">Create Signature</button>
  </div> -->