<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <!-- <button class="btn btn-primary" (click)="generatePdf()">Genarate Pdf</button> -->
      <form [formGroup]="rejectFormGroup">
        <div
          class="signature-acceptance"
          *ngIf="isShowflag && docRejected === false && isVerified === false"
        >
          <div class="comment-box">
            <textarea
            name="comments"
            cols="30"
            rows="1"
            placeholder="Please comment here..."
            formControlName="comments"
          ></textarea>

          <button class="btn btn-primary" (click)="cloneComment()"><i class="fa fa-plus" aria-hidden="true"></i></button>
          </div>
          <div class="d-flex">
            <div class="reject-btn">
              <button class="btn btn-danger" (click)="onRejectInvitation()">
                Reject
              </button>
            </div>
            <div class="update">
              <button class="btn btn-primary" (click)="updateSignature()">
                Submit
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="docRejected === true" class="rejected-text">
          <h5 class="text-danger">Document Rejected by You</h5>
        </div>
        <div *ngIf="isVerified === true" class="rejected-text">
          <h5 class="text-danger">Document has already Signed</h5>
        </div>

        
      </form>
    </div>
    <div class="col-md-9 image-view" #content id="content">
      <!-- <div class="pdf-none">
                <p>&nbsp;</p>
            </div> -->

      <div class="pdfViewerSection" id="sortable">
        <div *ngFor="let list of userData; let i = index">
          <div *ngFor="let pos of list.signature; let idx = index">
            <span
              *ngIf="list.VerifyFlag; then condition1; else condition2"
            ></span>
            <ng-template #condition1>
              <div
                class="drag-cls ui-draggable ui-draggable-handle drag"
                style="
                  display: inline;
                  z-index: 1;
                  background: transparent;
                  padding: 0px;
                  border-radius: 5px;
                  color: rgb(255, 255, 255);
                  position: relative;
                "
                [style.left.px]="pos.left"
                [style.top.px]="pos.top"
              >
                <img
                  style="height: 70px; width: 300px"
                  src="{{ imageBaseUrl + 
                    list.signatureImage
                  }}"
                />
              </div>
            </ng-template>
            <ng-template #condition2>
              <div
                (click)="draggable_Signature(1)"
                class="drag-cls ui-draggable ui-draggable-handle drag"
                style="
                  display: inline;
                  z-index: 1;
                  background: rgba(204, 204, 204, 0.73);
                  padding: 10px 30px;
                  border-radius: 5px;
                  color: rgb(255, 255, 255);
                  cursor: move;
                  position: relative;
                "
                [style.left.px]="pos.left"
                [style.top.px]="pos.top"
              >
                <!-- <div id="replace_{{i}}_{{idx}}"></div> -->
                <p
                  class="ui-state-highlight remove"
                  style="display: inline; color: #135699; font-weight: bold"
                >
                  <img style="height: 20px" src="assets/images/sign.png" />{{
                    list.Name
                  }}
                </p>
              </div>
            </ng-template>
          </div>
          <div *ngFor="let ini of list.initial; let j = index">
            <span *ngIf="list.VerifyFlag; then con1; else con2"></span>
            <ng-template #con1>
              <div
                class="drag-cls ui-draggable ui-draggable-handle idrag"
                style="
                  display: inline;
                  z-index: 1;
                  background: transparent;
                  padding: 0px;
                  border-radius: 5px;
                  color: rgb(255, 255, 255);
                  position: relative;
                "
                [style.left.px]="ini.left"
                [style.top.px]="ini.top"
              >
                <img
                  style="height: 70px; width: 300px"
                  src="{{ imageBaseUrl +
                    list.initialImage
                  }}"
                />
              </div>
            </ng-template>
            <ng-template #con2>
              <div
                (click)="draggable_Signature(2)"
                class="drag-cls ui-draggable ui-draggable-handle idrag"
                style="
                  display: inline;
                  z-index: 1;
                  background: rgba(204, 204, 204, 0.73);
                  padding: 10px 30px;
                  border-radius: 5px;
                  color: rgb(255, 255, 255);
                  cursor: move;
                  position: relative;
                "
                [style.left.px]="ini.left"
                [style.top.px]="ini.top"
              >
                <!-- <div id="ireplace_{{i}}_{{j}}"></div> -->
                <p
                  class="ui-state-highlight iremove"
                  style="display: inline; color: #135699; font-weight: bold"
                >
                  <img style="height: 20px" src="assets/images/digital.png" />{{
                    list.Name
                  }}
                
                </p>
              </div>
            </ng-template>
          </div>
        </div>
        <pdf-viewer
          [src]="viewSrc"
          [render-text]="true"
          [render-text]="true"
          [show-all]="true"
          [fit-to-page]="true"
          style="display: block"
        >
        </pdf-viewer>
      </div>
    </div>
  </div>
</div>

<ng-template #mymodal let-modal>
  <!-- <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div> -->
  <div class="modal-body">
    <ngb-tabset [destroyOnHide]="false">

      <ngb-tab title="Use">
        <ng-template ngbTabContent>
          <div class="upload-sig use-sig">
            <div class="text-center" >
              <div *ngIf="!showimage">
                <p>No default Signature Found</p>

              </div>
              <div *ngIf="showimage">

                <img   [src]="imageBaseUrl + dafaultSignObj?.Sign">
              </div>
                           
              <!-- <img *ngIf="item.Type === '2' && getid === '2'"  src="{{imageBaseUrl + item.Sign}}">               -->
            </div>
          </div>
          <button
          *ngIf="showimage"
            type="button"
            class="btn btn-primary"
            (click)="uploadSignature()">
            Use Signature
          </button>
        </ng-template>
      </ngb-tab>    

      <ngb-tab title="Draw">
        <ng-template ngbTabContent>
          <div class="col-md-12">
            <div class="tab-sign">
              <ng-signature-pad
                doneButtonText="Create a Signature"
                format="blob"
                (done)="saveImage($event)"
              ></ng-signature-pad>
            </div>
          </div>
        </ng-template>
      </ngb-tab>

      

     
      <!-- <ngb-tab title="Type">
                <ng-template ngbTabContent>
                    <div class="sing-type">
                        <input type="text" name="signaturetype" id="signaturetype">
                    </div>
                    <button type="button" class="btn btn-outline-dark"
                        (click)="modal.close('Save click')">Cancle</button>
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Create Signature')">Create
                        Signature</button>
                </ng-template>
            </ngb-tab> -->
      <ngb-tab title="Upload">
        <ng-template ngbTabContent>
          <div class="upload-sig">
            <div class="text-center">
              <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
                <img [src]="imageURL" alt="upimages" width="200px" />
              </div>
              <button
                class="btn btn-primary btn-block"
                type="button"
                (click)="fileInput.click()"
              >
                <span>UPLOAD</span>
                <input
                  #fileInput
                  type="file"
                  (change)="onFileSelected($event)"
                  id="file"
                  style="display: none"
                  accept="image/*"
                />
              </button>
            </div>
          </div>
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="modal.close('Save click')"
          >
            Cancle
          </button>
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="uploadSignature()"
            *ngIf="imageURL && imageURL !== ''"
          >
            Create Signature
          </button>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  </ng-template>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancle</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Create Signature')">Create Signature</button>
  </div> -->

