/* You can add global styles to this file, and also import other style files */

/* .signature-pad canvas {
    width: 100% !important;
    margin: 10px 0px;
} */

/* .pdfViewer.removePageBorders .page {
  width: 100% !important;
} */

.pdfViewer .canvasWrapper {
  width: 100% !important;
}

/* .page .textLayer {
  width: 100% !important;
} */

@media print and (color) {
  #sortable,
  [role="document"] {
    width: 100%;
    max-width: 100%;
  }
}

#sortable .ui-draggable-handle {
  position: absolute !important;
  /* margin: 0px 15px; */
}

.pagination-container ul.ngx-pagination {
  margin-bottom: 0;
}

.signature-pad canvas {
  /* max-width: 100% !important; */
  height: 300px !important;
}
.signature-pad {
  overflow: hidden !important;
}

#sortable {
  padding: 0px !important;
}

.pdfViewer .page canvas {
  width: 100% !important;
  height: auto !important;
}

/* .textLayer {
  height: auto !important;
}

.canvasWrapper {
  height: auto !important;
} */

@media (min-width: 200px) {
  .res-row {
    flex-wrap: nowrap !important;
    overflow: scroll !important;
  }

  .res-formm {
    width: 350px !important;
  }

  #id {
    width: 1012px !important;
  }

  #sortable {
    width: 982px !important;
  }

  #page {
  width: 793px !important;
    height: 1122px !important;
  }

}

.signature-pad {
  overflow: visible !important;
  width: auto;
  position: relative;
}
.signature-pad canvas {
  height: auto !important;
  width: auto !important;
}

.sign-test .signature-pad{
  overflow: visible !important;
  width: 350px !important;
  position: relative !important;
}

/* .sign-test .signature-pad{
  overflow: visible !important;
  width: auto !important;
  position: relative !important;
} */

.pdf-sign {
  height: auto; 
  width: 27%; 
  position:relative;
}

#sidebar-wrapper {
  height: 100%;
}

#sidebar-wrapper .link {
  border-bottom: 1px solid #ccc;
}


