<!-- <p>add-fields works!</p> -->

<div class="dragAndDrop">
    <!-- <div class="top-part">
        <div>
            <div class="col-md-2">
                <select name="" id="" class="form-control">
                    <option value="">Sujatha</option>
                </select>
            </div>
        </div>
    </div> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="side-options mt-3">
                    <!-- <input type="text" class="form-control" placeholder="Search"> -->
                    <!-- <h6 class="mt-3">Standard Fields</h6> -->
                    <!-- <div class="ui-widget-content draggable">
                        <p>Drag me around</p>
                    </div> -->

                    <div class="draggable">
                        <div class="one">
                            <!-- <p class="ui-state-highlight">Drag me down</p> -->
                        </div>
                    </div>

                    <div id="parent">
                        <div class="draggable chaild">
                            <!-- <p class="ui-state-highlight">Main Drag</p> -->
                        </div>
                    </div>

                    <!-- <button class="btn btn-outline-primary" (click)="clontheitem()">Hello</button> -->
                    <div class="">
                        <!-- <div class="draggable1">
                            <div class="draggable drag-cls" style="display: inline;">
                                <p  class="ui-state-highlight">New Item</p>
                            </div>
                        </div> -->

                        <!-- <ul class="navbar-nav" >
                            <li class="nav-item draggable1">
                                <a class="nav-link"><i class="fa fa-pencil side-icon"></i>&nbsp; Signature</a>
                            </li> 
                            <li class="nav-item draggable1">
                                <a class="nav-link"><i class="fa fa-pencil side-icon" ></i>&nbsp; Initial</a>
                            </li>
                            <li class="nav-item draggable1">
                                <a class="nav-link"><i class="fa fa-pencil side-icon"></i>&nbsp; Stamp</a>
                            </li>
                            <li class="nav-item draggable1">
                                <a class="nav-link"><i class="fa fa-pencil side-icon"></i>&nbsp; Date Signed</a>
                            </li>
                        </ul> -->
                        <!-- <hr> -->
                        <!-- <div>
                            <div class="card mb-3 border-left-primary" *ngIf="signatureImage">
                                <div class="card-body">
                                    <img [src]="signatureImage" class="signImage" />
                                </div>
                            </div>
                        </div> -->
                        <!-- <hr> -->
                        <!-- <div>
                            <h6>Recipients</h6>
                            <div class="card mb-3 border-left-primary">
                                <div class="card-body">
                                   <span (click)="open(mymodal)">Add Signature</span> 
                                </div>
                            </div>
                        </div> -->

                        <h3 class="select-doc">Please select Document :</h3>
                        <div class="doc-sign-btn">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4" *ngFor = "let doc of documents ; let i = index">
                                        <!-- <button  class="btn btn-succss btn btn-primary doc-btn-main1 final_{{i}}" (click) = "DocView(doc, i)">DOC {{i + 1}}</button>  -->


                                        <span *ngIf="(i == 0); then condition1; else condition2"></span>
                                        <ng-template #condition1>
                                            <button  class="btn btn-succss btn btn-primary doc-btn-main1 active final_{{i}}" (click) = "DocView(doc, i)">DOC {{i + 1}}</button>  
                                        </ng-template>
                                        <ng-template #condition2>
                                            <button  class="btn btn-succss btn btn-primary doc-btn-main1 final_{{i}}" (click) = "DocView(doc, i)">DOC {{i + 1}}</button>  
                                        </ng-template>
                                         
                                    </div>
                                </div>
                            </div> 
                        </div>

                        <!-- <div style="text-align: center;" class="signature1" *ngFor = "let doc of documents ; let i = index">
                            <button  class="btn btn-succss" (click) = "DocView(doc, i)">DOC {{i + 1}}</button>  
                        </div>   -->

                        <hr>
                        <div>
                            <h6>Recipients</h6>
                            <div *ngFor="let list of recpList; let i = index" class="mail-section border-left-primary">
                                <div class=" mb-3 ">
                                    <div class="sidebar-image">
                                        {{list?.Email}}
                                    </div>
                                </div>
                                <div>
                                    <div class=" mb-3" *ngIf="signatureImage">
                                        <div class="">
                                            <img [src]="signatureImage" class="signImage" />
                                        </div>
                                    </div>
                                </div>

                                <div class="sign-format">
                                    <div class="signature">
                                        <button (click)="cloneSignature(list, i, indexdoc, indexdocId)" class="btn btn-primary"><img src="assets/images/penn.png">&nbsp;Signature</button>
                                    </div>
    
                                    <div class="signature1">
                                        <button (click)="cloneIntial(list, i, indexdoc, indexdocId)" class="btn btn-primary"><img src="assets/images/digital.png">&nbsp;Initial</button>
                                    </div>
                                    <div class="signature sign-comment">
                                        <button (click)="cloneComment(list, i, indexdoc, indexdocId)" class="btn btn-primary"><i class="fa fa-commenting" aria-hidden="true"></i>&nbsp;Comment</button>
                                    </div>
                                </div>

                                <!-- add-sign-view -->
                                <div class="text-right">
                                    <!-- <img [src]="signatureImage" class="signImage" *ngIf="signatureImage" /> -->
                                    <!-- <button (click)="open(mymodal,i)" class="btn btn-primary">Add Signature</button> -->
                                </div>
                                <!-- <div class="card mb-3 mt-2 border-left-primary">
                                    <div class="card-body">
                                       <span (click)="open(mymodal)">Add Signature</span> 
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <div style="text-align: center;" class="signature1">
                            <button type="submit" class="btn btn-succss" *ngIf="sendBtnHide" style="padding: 13px 30px;margin: 20px 0px 10px 0px;" (click)="updateCoordinates()">Send</button>  
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-8 image-view">

                <!-- <button class="btn btn-primary" type="button" (click)="fileInput2.click()">
                    <span>UPLOAD</span>
                    <input #fileInput2 type="file" (change)="onPdfUpload($event)" id="file" style="display:none;"/>
                </button> -->

                <!-- <img [src]="signatureImage" *ngIf="signatureImage" /> -->

               <div *ngFor="let docu of documents ; let i = index" >
                   <!-- {{doc | json}} -->
                   <span *ngIf="(i == 0); then condition1; else condition2"></span>
                    <ng-template #condition1>
                        <div class="pdfViewerSection_{{i}}" id="sortable" style="display: block;">
                            <pdf-viewer [src]="imageBaseUrl + docu.Doc" 
                            [render-text]='true'
                            [show-all]="true"
                            [fit-to-page]="true"> style="display: block;"> </pdf-viewer>
    
                        </div>
                    </ng-template>
                    <ng-template #condition2>
                        <div class="pdfViewerSection_{{i}}" id="sortable" style="display: none;">
                            <pdf-viewer [src]="imageBaseUrl + docu.Doc" 
                            [render-text]='true'
                            [show-all]="true"
                            [fit-to-page]="true"> style="display: block;"> </pdf-viewer>
    
                        </div>
                    </ng-template>
                    
            </div>
            </div>
            <!-- <div class="col-md-1">
                <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Singature</button>
            </div> -->
        </div>
    </div>
</div>



<ng-template #mymodal let-modal>
    <!-- <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div> -->
    <div class="modal-body">
        <ngb-tabset [destroyOnHide]="false">
            <ngb-tab title="Draw">
                <ng-template ngbTabContent>
                    <div class="col-md-12">
                        <div class="tab-sign">
                            <ng-signature-pad doneButtonText="Create a Signature" format="base64"
                                (done)="saveImage($event)"></ng-signature-pad>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <!-- <ngb-tab title="Type">
                <ng-template ngbTabContent>
                    <div class="sing-type">
                        <input type="text" name="signaturetype" id="signaturetype">
                    </div>
                    <button type="button" class="btn btn-outline-dark"
                        (click)="modal.close('Save click')">Cancle</button>
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Create Signature')">Create
                        Signature</button>
                </ng-template>
            </ngb-tab> -->
            <ngb-tab title="Upload">
                <ng-template ngbTabContent>
                    <div class="upload-sig">
                        <div class="text-center">
                            <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
                                <img [src]="imageURL" alt="upimages" width="200px">
                            </div>
                            <button class="btn btn-primary btn-block" type="button" (click)="fileInput.click()">
                                <span>UPLOAD</span>
                                <input #fileInput type="file" (change)="onFileSelected($event)" id="file"
                                    style="display:none;" accept="image/*" />
                            </button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-dark"
                        (click)="modal.close('Save click')">Cancle</button>
                    <button type="button" class="btn btn-outline-dark" (click)="uploadSignature();"
                        *ngIf="imageURL && imageURL !== ''">Create Signature</button>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
    <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancle</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Create Signature')">Create Signature</button>
  </div> -->
</ng-template>