
.dragAndDrop {
    padding: 10px;
    background-color: #eee;
}
.side-options {
    padding: 5px 10px;
    padding-right: 20px;
    border-right: solid 1px #ccc;
}

.nav-item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.top-part {
    background-color: #eee;
    padding: 5px;
}

/* .pdfViewerSection {
    padding: 10px; 
} */
.side-icon {
    background: yellow;
    padding: 3px;
}
.tab-sign{
    width: auto;
    display: block;
}
.signature-pad canvas{
    width: 770 !important;
}

.sing-type input{
    font-size: 100px !important;
    width: 765px;
    border: none;
}

.imagePreview{
    padding: 20px 0;
}

.draggable{
    z-index: 1;
}

.image-view img, .drag-cls, .drag-cls p{
    display: inline;
}
.border-left-primary {
    border-left: solid 3px  #1c8adb;
}

.signImage {
    width: 100%;
    height: 100%;
    max-width: 152px;
}

.add-sign-view {
    display: flex;
    justify-content: space-between;
}

.sidebar-image {
    font-size: 13px;
}

.signature button {    
    background: #87ceeb;
    border: 1px solid #87ceeb;
    padding: 6px;
    font-size: 13px;

    /* margin-bottom: 15px; */
    /* margin:0px 5px 10px 5px; */
}

.signature button:hover {
    background: #fff;
    cursor: pointer;
    color: #87ceeb;
}

.signature img {
    height: 18px;
}



.signature1 button {    
    background: #87ceeb;
    border: 1px solid #87ceeb;
    padding: 5px;
    font-size: 13px;

    /* margin-bottom: 10px; */
    /* margin:0px 5px 10px 0px; */
}

.signature1 button:hover {
    background: #fff;
    cursor: pointer;
    color: #87ceeb;
}

.signature1 img {
    height: 18px;
}

.mail-section {
    background: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    margin: 25px 0px;
}

.sign-format {
    display: flex;
    justify-content: space-around;
}

/* .ui-state-highlight {
    border: 1px solid #ccc;
    background-color: #ccc;
} */

#sortable .ui-draggable-handle {
    display: block;
    position: absolute !important;
}

.sign-comment i {
    color: #000;
}

.select-doc {
    font-size: 23px;
    font-weight: 400;
    color: #000;
}

.doc-sign-btn button{
    background: #87ceeb;
    border: 1px solid #87ceeb;
    padding: 5px;
    font-size: 13px;
    padding: 16px 25px;
     margin: 20px 0px 10px 0px;
}

.doc-sign-btn button:hover {
    background: #fff;
    cursor: pointer;
    color: #87ceeb;
}


/* #sortable {
     margin: 0px 70px;
} */



