<!-- <p>inbox works!</p> -->

<div class="inbox">
  <div class="container-fluid">
    <div class="">
      <div class="top-section">
        <div>
          <h2>Completed</h2>
        </div>
        <div class="top-right-filters">
          <div class="pagination-container">
            <pagination-controls></pagination-controls>
          </div>
          <div>
            <input type="text" class="form-control" placeholder="Search" />
          </div>
          <!-- &nbsp;&nbsp;
            <div><i class="fa fa-filter"></i> FILTERS</div> -->
        </div>
      </div>
      <div class="inbox-mails mt-5">
        <div class="mails-table">
          <!-- <div >Loading....</div>
            <div >
              No Mails Available
            </div> -->
          <div>
            <table class="table">
              <thead>
                <th></th>
                <th>Sender</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Date & Time</th>
                <th>Action</th>
              </thead>
              <tbody>
                <tr *ngFor="let document of documentsList">
                  <td>
                    <input type="checkbox" />&nbsp;&nbsp;
                    <i class="fa fa-check"></i>
                  </td>
                  <td>
                    <div [ngClass]="{'boldClass': document?.Recipients?.viewFlag == false}">
                      <!-- <p class="mb-0">
                        Please Endorse:
                        {{ document?.documents[0]?.Doc }}
                      </p> -->
                      <span>
                        From: {{ document?.Sender[0].FirstName }}
                        {{ document?.Sender[0].LastName }} </span>
                    </div>
                    <!-- <span class="to-status">  Sujatha M</span> -->
                  </td>
                  <td>
                    <span class="to-status">{{ document?.Subject }}</span>
                  </td>
                  <td>
                    <span class="to-status">{{ document?.Message }}</span>
                  </td>
                  <td>
                    <p class="mb-0 to-status">
                      {{ document?.createdAt | date: "dd-MM-y" }}
                    </p>
                    <span class="time">{{
                      document?.createdAt | date: "h:mm:ss a"
                    }}</span>
                  </td>
                  <td style="text-align: center;">
                    <button class="btn btn-success" (click)="gotoPdfView(document)">
                      Completed
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>